extends layout

block content
  //-
    #jump_to
      | Jump To
      #jump_wrapper
        #jump_page
          a.source(href='index.html') Index
          a.source(href='paige.html') paige.coffee
          a.source(href='rocco.html') rocco.coffee


  h1= title
  p Welcome to #{title}
  p 
    a('href'='docs') Docs
